.popup__container {
  width: 510px;
  margin: 155px auto 0;
  display: flex;
  flex-direction: column;
  align-items: end;
}

@media (max-width: 1279px) {
  .popup__container {
    width: 282px;
    margin: 87px auto 0;
  }
}